{# TODO Replace all of this according to Bolli's new UX design? #}
{% load i18n %}
<div class="row">
	<div class="col-lg-12">
		<div>
			{# UNNECESSARY SLOWDOWN DURING TESTING<img class="img-responsive" src="{{imageUrl}}&crop={{ line|get_item:"crop_str"}}"/> #}
			<img class="img-responsive" src="{{imageUrl}}&crop={{ line|get_item:"crop_str"}}"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="form-group">
			<input class="form-control transcription" type="text" name="{{ line|get_item:"id"}}"  value="{{ line|get_item:"TextEquiv"|get_item:"Unicode" }}" />
			{# TODO Figure out if we want to use this or edit in-line: <a href="#editLineModal" role="button" class="btn btn-large btn-primary edit" data-toggle="modal" id="{{ line|get_item:"id"}}">{% trans "Edit line" %}</a> #}
			<!-- <a href="#editLineModal" role="button" class="btn btn-large btn-primary edit" data-toggle="modal" id="{{ line|get_item:"id"}}">{% trans "Edit line" %}</a>-->
		</div>
	</div>
</div>
