/* We crop the image like this... */
.transcript-div {
	background-color: gray;
	overflow: hidden;
}

/* And in order to move the map along with the image, we have this div... */
.transcript-map-div {
	overflow: hidden;
	position: relative;
	transform-origin: 0px 0px;/* Required by the zoom transform... */
}

/* We make the transcript fit neatly... */
.transcript-img {
	max-width: 100% !important;
}

/* Thumbnails: */
.thumb-row {
	overflow: hidden;
}
.thumbs {
    transition: transform 1s;
}
.thumb-current {
    padding: 3%;
    background-color: red;
}
.thumb-img:hover {
    padding: 3%;
    background-color: blue;
}
.thumb-img {
    padding: 3%;
    background-color: white;
}
.content-line {
	display: none;
}
.line-list-div {
	overflow: auto;
}
ul {
	list-style: none;
	padding-left: 0px;
}
li {
    list-style-type: none;
    white-space: nowrap; 
}
