{% extends "libraryapp/navi_base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {% trans "Register" %}
                </h1>
	    </div>
	    <div class="col-lg-8">
	
		<form action="register" method="post" role="form" id="register_form">
		    {% csrf_token %}
		    {% bootstrap_form register_form %}
		    <button class="btn btn-default" type="submit">{% trans "Register" %}</button>
		</form>
	    </div>
	</div>
    </div>	

<div id="messages"></div>
<script src='{% static "js/forms.js" %}'></script>

{% endblock %}
