h1.page-header { margin-top: 5px; }
/*sidebar*/
.sidebar-nav {margin-top: 22px;}
/*.menu-toggle span.glyphicon {font-size: 0.8em;}*/
/*contextual nav */

.read_nav {
	position: relative;
	z-index: 100000;
}
.read_nav ul{
	margin: 0;
	padding: 0;
	width: auto;
	list-style: none;
}
.read_nav_out {
	position: absolute; top:0; left:0;
}
.read_nav li {
	text-indent: 0;
}

/*panels*/
.panel-heading h4 {margin-top: 0; margin-bottom:5px;}

/* black buttons */
.btn-inverse { 
  color: #fff; 
  background-color: #000; 
  border-color: #130269; 
} 
 
.btn-inverse:hover, 
.btn-inverse:focus, 
.btn-inverse:active, 
.btn-inverse.active, 
.open .dropdown-toggle.btn-inverse { 
  color: #ffffff; 
/*  background-color: #49247A;*/
  background-color: #111A75;
  border-color: #130269; 
} 
 
.btn-inverse:active, 
.btn-inverse.active, 
.open .dropdown-toggle.btn-inverse { 
  background-image: none; 
} 
 
.btn-inverse.disabled, 
.btn-inverse[disabled], 
fieldset[disabled] .btn-inverse, 
.btn-inverse.disabled:hover, 
.btn-inverse[disabled]:hover, 
fieldset[disabled] .btn-inverse:hover, 
.btn-inverse.disabled:focus, 
.btn-inverse[disabled]:focus, 
fieldset[disabled] .btn-inverse:focus, 
.btn-inverse.disabled:active, 
.btn-inverse[disabled]:active, 
fieldset[disabled] .btn-inverse:active, 
.btn-inverse.disabled.active, 
.btn-inverse[disabled].active, 
fieldset[disabled] .btn-inverse.active { 
  background-color: #000; 
  border-color: #130269; 
} 
 
.btn-inverse .badge { 
  color: #000; 
  background-color: #ffffff; 
}

/* collection */
.document_thumbs { display: none;}
