{% extends "base.html" %}


{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- row 1 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Collections Browse
                </h1>
	    </div>
            <div class="col-md-4 expandable collections_tree">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Fancy tree for documents
			   <a href="#" id="collections_tree_full" class="panel-expand btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"><span></a>
			   <a href="#" id="collections_tree_mini" class="panel-shrink btn btn-default btn-sm pull-right" style="display: none;"><span class="glyphicon glyphicon-chevron-left"><span></a>
			</h4>
                    </div>
		<p>This collection contains {{ documents|length }} documents:</p>
		<script type="text/javascript">
			var t_data = {{ documents_json|safe }};
			console.log("tdata:",t_data);
		</script>
{% comment %}
		<table class="table table-striped">
		   <thead>
	  		<tr><th>ID</th><th>Title</th><th>Author</th></tr>
		   </thead>
		   <tbody>
		     {% for doc in documents %}
	  		<tr><td>{{ doc.docId }}</td><td>{{ doc.title }}</td><td>{{ doc.author }}</td></tr>
		     {% endfor %}
		   </tbody>
		</table>
{% endcomment %}
                    <div class="panel-body" id="collections_tree">
                    </div>
                </div>
            </div>
            <div class="col-md-8 expandable thumbnails">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Thumbnnails
			   <a href="#" id="thumbnails_full" class="panel-expand btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"><span></a>
			   <a href="#" id="thumbnails_mini" class="panel-shrink btn btn-default btn-sm pull-right" style="display: none;"><span class="glyphicon glyphicon-chevron-left"><span></a>
			</h4>
                    </div>
                    <div class="panel-body">
			<div class="row">
		  		<div class="documents_intro">
					<p>Use the file tree on the left to select documents and pages for closer inspection. You will see a larger image in this panel</p>
				</div>
			     {% for doc in documents %}
		  		<div id="doc_{{ doc.docId }}" class="document_thumbs">
					<h4> {{ doc.title }} - {{ doc.author }} <span class="page_title"></span></h4>
					     {% for page in doc.children %}
					    <div class="col-md-3 thumb page_thumb" id="page_{{page.key}}">
						<a class="thumbnail" href="{% url 'page' %}">
						    <img src="http://placehold.it/400x300" alt="{{ page.title}}" title="{{page.title}}"/>
						</a>
					    </div>
					     {% endfor %}
				</div>
			     {% endfor %}
			</div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- Call to Action Section 
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">More about READ</a>
                </div>
            </div>
        </div>
-->
 <script>

    </script>

{% endblock %}
