{% extends "libraryapp/navi_base.html" %}
{% load i18n %}

{% block nav_buttons_out %}
{% include "libraryapp/nav_buttons.html" with out=True %}
{% endblock %}

{% block nav_buttons_in %}
{% include "libraryapp/nav_buttons.html" with out=False %}
{% endblock %}


{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- row 1 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Collection Browse for {{collection.colName}}
                </h1>
	    </div>

            <div class="col-lg-8">
		<p>This collecction contains the following {{ documents|length }} document{%if documents|length != 1 %}s{% endif %}:</p>

		<table class="table table-striped">
		   <thead>
	  		<tr><th>{% trans "ID" %}</th><th>{% trans "DOCUMENT" %}</th><th>{% trans "AUTHOR" %}</th><th>{% trans "PAGES" %}</th></tr>
		   </thead>
		   <tbody>
		     {% for doc in documents %}
	  		<tr><td>{{ doc.docId }}</td><td><a href="{% url 'document' collId doc.docId%}">{{ doc.title }}</a></td><td>{{ doc.author }}</td><td>{{ doc.children|length }}</td></tr>
		     {% endfor %}
		   </tbody>
		</table>
		<p>From this collection (if available) get a random:</p>
		<ul>
			<li><a href="{% url 'rand' collection.colId 'region' %}">{% trans "Region" %}</a></li>
			<li><a href="{% url 'rand' collection.colId 'line' %}">{% trans "Line" %}</a></li>
			<li><a href="{% url 'rand' collection.colId 'word' %}">{% trans "Word" %}</a></li>
		</ul>
	    </div>
	</div>
{%comment%}

        <div class="row">

            <div class="col-md-4 expandable collections_tree">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Fancy tree for documents
			   <a href="#" id="collections_tree_full" class="panel-expand btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"><span></a>
			   <a href="#" id="collections_tree_mini" class="panel-shrink btn btn-default btn-sm pull-right" style="display: none;"><span class="glyphicon glyphicon-chevron-left"><span></a>
			</h4>
                    </div>
		<p>This collection contains {{ documents|length }} documents:</p>
		<script type="text/javascript">
			var t_data = {{ documents_json|safe }};
			console.log("tdata:",t_data);
		</script>
                    <div class="panel-body" id="collections_tree">
                    </div>
                </div>
            </div>
            <div class="col-md-8 expandable thumbnails">
                <div class="panel panel-default">
                    <div class="panel-heading">
		    	<h4><i class="fa fa-fw fa-gift"></i>{% trans "Thumbnnails" %}<a href="#" id="thumbnails_full" class="panel-expand btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"><span></a>
			   <a href="#" id="thumbnails_mini" class="panel-shrink btn btn-default btn-sm pull-right" style="display: none;"><span class="glyphicon glyphicon-chevron-left"><span></a>
			</h4>
                    </div>
                    <div class="panel-body">
			<div class="row">
		  		<div class="documents_intro">
					<p>Use the file tree on the left to select documents and pages for closer inspection. You will see a larger image in this panel</p>
				</div>
			     {% for doc in documents %}
		  		<div id="doc_{{ doc.docId }}" class="document_thumbs">
					<h4><a href="{%  url 'document' collId  doc.docId %}">{{ doc.title }} - {{ doc.author }}</a> <span class="page_title"><a href="#"></a></span></h4>
					     {% for page in doc.children %}
					    <div class="col-md-3 thumb page_thumb" id="page_{{page.key}}">
						<a class="thumbnail" href="{% url 'page' collId doc.docId page.pageNr %}">
						    <img src="{{ page.thumbUrl }}" alt="{{page.title}}" title="{{page.title}} - {{page.pageNr}}"/>
						</a>
					    </div>
					     {% endfor %}
				</div>
			     {% endfor %}
			</div>
                    </div>
                </div>
            </div>
        </div>
{%endcomment%}

        <!-- /.row -->

{% endblock %}
