<div class="form-group">
	<a href="#createCollectionModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Create a new collection</a>
</div>
<div id="createCollectionModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create a new collection</h4>
            </div>
            <div class="modal-body create-dialog">
				<label for="collection_name">New collection name:</label>
                <input class="form-control" type="text" id="collection_name"  />
            </div>
            <div class="modal-footer create-dialog">
                <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-primary" data-target="#createCollection">Create collection</a>
            </div>
            <div class="modal-body message collapse">
				<div id="message"></div>
            </div>
            <div class="modal-footer message collapse">
                <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("a[data-target=#createCollection]").click(function(event) {
    	event.preventDefault();
    	$.post('create_collection_modal', {collection_name: $('#collection_name').val(), csrfmiddlewaretoken: '{{ csrf_token }}'}, function( data ) { 
    		$("#message").html(data);// TODO Hide the modal and show a new one instead for a prettier look than the current, rapidly shrinking one?
		 	$('.message').show();
		 	$('.create-dialog').hide();
		 	$('.collections').load('collections_dropdown');
		 	// TODO Consider how to set this to the id of the newly created collection... $('.collections select').val(); Just set it to the last one?
		});
    	// TODO Handle failures here or are we happy with the current solution?
	});
	$('#createCollectionModal').on('hidden.bs.modal', function () {
			$('#collection_name').val("");
		 	$('.message').hide();
		 	$('.create-dialog').show();
	})
</script>