{% extends "libraryapp/navi_base.html" %}
{% load i18n %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- row 1 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {% trans "Collections Browse" %}
                </h1>
	    </div>
            <div class="col-md-4 expandable collections_tree">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Fancy tree for documents
			   <a href="#" id="collections_tree_full" class="panel-expand btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"><span></a>
			   <a href="#" id="collections_tree_mini" class="panel-shrink btn btn-default btn-sm pull-right" style="display: none;"><span class="glyphicon glyphicon-chevron-left"><span></a>
			</h4>
                    </div>
                    <div class="panel-body" id="collections_tree">
                    </div>
                </div>
            </div>
            <div class="col-md-8 expandable thumbnails">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Thumbnnails
			   <a href="#" id="thumbnails_full" class="panel-expand btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-chevron-right"><span></a>
			   <a href="#" id="thumbnails_mini" class="panel-shrink btn btn-default btn-sm pull-right" style="display: none;"><span class="glyphicon glyphicon-chevron-left"><span></a>
			</h4>
                    </div>
                    <div class="panel-body">
			<div class="row">

			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			    <div class="col-md-3 thumb">
				<a class="thumbnail" href="#">
				    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
				</a>
			    </div>
			</div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- Call to Action Section 
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi." %}</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">{% trans "More about READ" %}</a>
                </div>
            </div>
        </div>
-->
 <script>
	$(".panel-expand").click(function(){
		var button = this;
//		$(this).parents(".expandable").removeClass("col-md-4", function(){
	
		var class_to_remove = ($(this).parents(".expandable").attr("class").match(/(^|\s)col-md-\S+/g) || []).join(' ');
		$(this).parents(".expandable").removeClass(class_to_remove, function(){

			$(this).addClass("col-md-12");
			$(button).hide(function(){
				$(button).siblings(".panel-shrink").attr("data-return-class",class_to_remove);
				$(button).siblings(".panel-shrink").show()
			});

		});
	});
	$(".panel-shrink").click(function(){
		var button = this;
		var class_to_reinstate = $(button).attr("data-return-class");
		$(this).parents(".expandable").addClass(class_to_reinstate, function(){
			$(this).removeClass("col-md-12");
			$(button).hide(function(){$(button).siblings(".panel-expand").show()});
		});
	});

    </script>

{% endblock %}
