{% load i18n %}

<div class="checkbox">
	<label><input type="checkbox" value="" id="whatToShow"  {{only_unfinished}}>{% trans "Only show unfinished jobs." %}</label>			
</div>
<table class="table table-striped">
	<thead>
		<tr><th>{% trans "Type" %}</th><th>{% trans "State" %}</th><th>{% trans "Description" %}</th><th>{% trans "Created" %}</th><th>{% trans "ID" %}</th></tr>
	</thead>
   <tbody>
   		{% for job in jobs %}
			<tr><td>{{ job.type}}</td><td>{{ job.state}}</td><td>{{ job.description}}</td><td>{{  job.createTime | print_timestamp}}</td><td>{{ job.jobId}}</td></tr>
		{% endfor %}   
   </tbody>
</table>
<script>
    $('#whatToShow').change(function(event) {
    	$.post('jobs_list', {only_unfinished: this.checked, csrfmiddlewaretoken: '{{ csrf_token }}'}, function( data ) { 
		 	$('.jobs_list').html(data);
		});
	})
</script>
