{% extends "navi_base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load library_tags %}

{% block nav_buttons_out %}
{% include "libraryapp/nav_buttons.html" with out=True %}
{% endblock %}

{% block nav_buttons_in %}
{% include "libraryapp/nav_buttons.html" with out=False %}
{% endblock %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- row 1 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Line view
                </h1>
	    </div>
            <div class="col-md-12 expandable">

		<dl class="dl-horizontal">
		<dt>{% trans "ID" %}</dt><dd>{{ line|get_item:"@id" }}</dd>
		<dt>{% trans "Text" %}</dt><dd>{{ line|get_item:"TextEquiv"|get_item:"Unicode" }}</dd>
		<dt>{% trans "Primary language" %}</dt><dd>{{ line|get_item:"@PrimaryLanguage" }}</dd>
		<dt>{% trans "Image" %}</dt><dd><img class="img_snip line" src="{{imageUrl}}&crop={{ line|get_item:"crop_str"}}"/></dd>


		</dl>
		<p>This line has {{ words|length }} word{% if words|length != 1 %}s{% endif %}:</p>
		{% if words|length > 0 %}
		<table class="table table-striped">
		   <thead>
			<tr><th>{% trans "ID" %}</th><th>{% trans "LETTERS" %}</th><th>{% trans "COORDS" %}</th><th>{% trans "BASELINE" %}</th><th>{% trans "TEXT" %}</th><th>{% trans "METADATA" %}</th><th>{% trans "LANGUAGE" %}</th></tr>
		   </thead>
		   <tbody>
		     {% for word in words %}
			<tr>
			<td><a href="{%url 'word' collId docId pageId transcriptId regionId lineId word|get_item:"@id"%}">{{word|get_item:"@id"}}</a></td>
			<td>{{word|get_item:"TextEquiv"|get_item:"Unicode"|length}}</td>
			<td>{% if word|get_item:"Coords" %}<a href="#" title="Link to portion of image denoted by: {{word.Coords|get_item:"@points"}} If possible using IIIF url to get from IIIF compliant image server?">{% trans "Yes" %}</a>{%else%}{% trans "No" %}{%endif%}</td>
			<td>{% if word|get_item:"Baseline" %}<a href="#" title="{{word.Baseline|get_item:"@points"}}">{% trans "Yes" %}</a>{%else%}No{%endif%}</td>
			<td>{{word|get_item:"TextEquiv"|get_item:"Unicode"}}</td>
			<td>
				<table class="table">
				{% for class in word|get_item:"md" %}
					<tr><th colspan="2">{{class}}</th></tr>
					{% for  rule in word|get_item:"md"|get_item:class %}
						<tr><td>{{rule}}</td><td>{{word|get_item:"md"|get_item:class|get_item:rule}}</td></tr>
					{%endfor%}
				{%endfor%}
				</table>
			</td>
			<td>{{word|get_item:"@language"}}</td>
			</tr>
		     {% endfor %}
		   </tbody>
		</table>
		{%endif%}
            </div>
        </div>
        <!-- /.row -->

 <script>

    </script>

{% endblock %}
