{% load i18n %}

{# TODO There's an issue with jquery and/or bootstrap loading, which needs to be investigated. The onclick dismiss (remove) below is a temporary solution. #}
<script>
	dismissModal = function() {
		$('#messageModal').fadeOut(function complete() { this.remove();});
	}
</script>
<div id="messageModal" class="modal show" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" onclick="dismissModal();" >&times;</button>
				<h4 class="modal-title">{% trans "Information" %}</h4>
			</div>
			<div class="modal-body">
				<ul class="messages">
					{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissModal();" >{% trans "OK" %}</button>
			</div>
		</div>
	</div>
</div>
