{% if up %}
<li><a href="{{up}}" id="" class="btn btn-default btn-xs {% if out %}pull-left{%else%}pull-right btn-inverse{%endif%}"><span class="">up<span></a></li>
{% endif %}
{% if next %}
    <li><a href="{{next}}" id="" class="btn btn-default btn-xs {% if out %}pull-left{%else%}pull-right btn-inverse{%endif%}"><span class="">next<span></a></li>
{% endif %}
{% if prev %}
    <li><a href="{{prev}}" id="" class="btn btn-default btn-xs {% if out %}pull-left{%else%}pull-right btn-inverse{%endif%}"><span class="">prev<span></a></li>
{% endif %}

