{% extends "navi_base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load read_tags %}

{% block nav_buttons_out %}
{% include "libraryapp/nav_buttons.html" with out=True %}
{% endblock %}

{% block nav_buttons_in %}
{% include "libraryapp/nav_buttons.html" with out=False %}
{% endblock %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- row 1 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Region view
                </h1>
	    </div>
            <div class="col-md-12 expandable">

		<dl class="dl-horizontal">
		<dt>{% trans "ID" %}</dt><dd>{{ region|get_item:"@id" }}</dd>
		<dt>{% trans "Type" %}</dt><dd>{{ region|get_item:"@type" }}</dd>
		<dt>{% trans "Text" %}</dt><dd>{% if region|get_item:"TextEquiv" %}{{ region|get_item:"TextEquiv"|get_item:"Unicode" }}{%else%}No text{%endif%}</dd>
		<dt>{% trans "Image" %}</dt><dd><img class="img_snip region" src="{{imageUrl}}&crop={{ region|get_item:"crop"|coords_for_fimagestore}}"/></dd>

		</dl>
		<p>This region has {{ lines|length }} line{% if lines|length != 1 %}s{% endif %}:</p>
		{% if lines|length > 0 %}
		<table class="table table-striped">
		   <thead>
			<tr><th>{% trans "ID" %}</th><th>{% trans "WORDS" %}</th><th>{% trans "COORDS" %}</th><th>{% trans "BASELINE" %}</th><th>{% trans "TEXT" %}</th><th>{% trans "METADATA" %}</th><th>{% trans "LANGUAGE" %}</th></tr>
		   </thead>
		   <tbody>
		     {% for line in lines %}
			<tr>
			<td><a href="{% url 'line' collId docId pageId transcriptId region|get_item:"@id" line|get_item:"@id"  %}">{{line|get_item:"@id"}}</a></td><td>{{line|get_item:"Word"|length}}</td>
			<td>{% if line|get_item:"Coords" %}<a href="#" title="Link to portion of image denoted by: {{line.Coords|get_item:"@points"}} If possible using IIIF url to get from IIIF compliant image server?">{% trans "Yes" %}</a>{%else%}{% trans "No" %}{%endif%}</td>
			<td>{% if line|get_item:"Baseline" %}<a href="#" title="{{line.Baseline|get_item:"@points"}}">{% trans "Yes" %}</a>{%else%}{% trans "No" %}{%endif%}</td>
			<td>{{line|get_item:"TextEquiv"|get_item:"Unicode"}}</td>
			<td>
				<table class="table">
				{% for class in line|get_item:"md" %}
					<tr><th colspan="2">{{class}}</th></tr>
					{% for  rule in line|get_item:"md"|get_item:class %}
						<tr><td>{{rule}}</td><td>{{line|get_item:"md"|get_item:class|get_item:rule}}</td></tr>
					{%endfor%}
				{%endfor%}
				</table>
			</td>
			<td>{{line|get_item:"@primaryLanguage"}}</td>
			</tr>
		     {% endfor %}
		   </tbody>
		</table>
		{%endif%}
            </div>
        </div>
        <!-- /.row -->

 <script>

    </script>

{% endblock %}
