{% load i18n %}

<div id="correctModal" class="modal fade" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{% trans "Edit line" %}</h4>
            </div>
			<div class="modal-body line-content">
	            <table>
		            <tr style="vertical-align: top;">
		            	<td style="padding: 5px;">
			            	<a class="add-line" href="#"><span class="glyphicon glyphicon-plus"></span></a><br/>
			            	<a class="remove-line" href="#"><span class="glyphicon glyphicon-minus"></span></a>
			           	</td>
						<td style="width: 100%; padding: 0px;">
			            	<ul class="line-list">
			            	</ul>
		            		<div id="lineText"></div>
			            </td>
		            	<td style="padding: 5px;">
				            <a class="typewriter-up" href="#"><span class="glyphicon glyphicon-arrow-up"></span</a><br/>
				            <a class="typewriter-down" href="#"><span class="glyphicon glyphicon-arrow-down"></span</a>
			           	</td>
		            </tr>
				</table>
			</div>
            <div class="modal-footer create-dialog">
                <button id="closeButton" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
