{% extends "navi_base.html" %}
{% load i18n %}

{% block content %}

<h1>{{collection.colName}}</h1>

<h2>Last activity {{collection.colName}}</h2>

<p>Date/Time: User X, role, operation (save) on page ID X of document ID Y in collection ID Z</p>

<div class="container">

 <h2>Activities for {{collection.colName}}</h2>

   {% include "dashboard/date_input.html" %}

</div>

<div class="panel">
 
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Table</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Chart</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
	   {% include "dashboard/actions_table.html" with action_types=action_types%}
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
	   <canvas id="actions_line" class="chart_canvas" width="400" height="200"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">messages</div>
    <div role="tabpanel" class="tab-pane" id="settings">settings</div>
  </div>

</div>


<div class="container">

<h2>Documents in {{collection.colName}}</h2>

  {% include "dashboard/documents_table.html" %}

</div>

<div class="container">

<h2>Users in {{collection.colName}}</h2>

  {% include "dashboard/users_table.html" %}

</div>

{% endblock %}
