{% extends "navi_base.html" %}
{% load i18n %}

{% block content %}

<div class="container">

<h1>{{document.title}}</h1>

<h2>Last activity {{document.title}}</h2>

<p>{{last_action.time}}: User {{last_action.userName}}, {{last_action.role}}, operation ({{last_action.type}}) on page ID {{last_action.pageNr}} of document ID {{last_action.docId}}</p>

<div class="container">

 <h2>Activities for {{document.title}}</h2>

   {% include "dashboard/date_input.html" %}

</div>

<div class="container">

<div class="panel">
 
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#a_table" aria-controls="home" role="tab" data-toggle="tab">Table</a></li>
    <li role="presentation"><a href="#a_chart_doc" aria-controls="profile" role="tab" data-toggle="tab">All activities</a></li>
    <li role="presentation"><a href="#a_chart_me" aria-controls="profile" role="tab" data-toggle="tab">Your activities</a></li>
    <li class="dropdown">
	<a href="#" data-toggle="dropdown">Activities for... <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu" id="user_list">
	    <li><a href="#user_list_panel" data-toggle="tab">Default 4</a></li>
	</ul>
    </li>
    <li role="presentation"><a href="#a_top_users" aria-controls="profile" role="tab" data-toggle="tab">Most Active Users</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="a_table">
	   {% include "dashboard/actions_table.html" with action_types=action_types%}
    </div>
    <div role="tabpanel" class="tab-pane" id="a_chart_doc">
	   <canvas id="actions_line" class="chart_canvas" width="400" height="200"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane" id="a_chart_me">
	   <canvas id="user_actions_line" class="chart_canvas" width="400" height="200"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane" id="user_list_panel">
	   <canvas id="user_actions_line_x" class="chart_canvas" width="400" height="200"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane" id="a_top_users">
	   <canvas id="top_users" class="chart_canvas" width="400" height="200"></canvas>
    </div>
  </div> <!-- end .tab-content -->

  {% for at in action_types %}
	<button class="btn btn-default table_filter" id="filter_{{at.type}}" value="{{at.id}}">{{at.type}}</button>
  {% endfor %}
  <button class="btn btn-default table_filter" id="filter_clear" value="">X</button>

</div>

</div>

<div class="container" id="pages_thumbnail_grid"></div>

</div>

{% endblock %}
