{% extends "navi_base.html" %}
{% load i18n %}

{% block content %}

<h1>{{document.title}}</h1>

<h2>Last activity {{document.title}}</h2>

<p>Date/Time: User X, role, operation (save) on page ID X of document ID Y in collection ID Z</p>


<div class="container">

<h2>Activities for {{document.title}}</h2>

  {% include "dashboard/actions_table.html" with action_types=action_types collection=collection document=document %}

</div>
{%comment%}
<div class="container">

<h2>Pages in {{document.title}}</h2>

  {% include "dashboard/pages_table.html" with pages=pages %}

</div>
{%endcomment%}
<div class="container" id="pages_thumbnail_grid">

</div>

<pre>
Graph here
</pre>

<button>No of Jobs by type / ingesting</button>

{% endblock %}
