{% extends "navi_base.html" %}
{% load i18n %}

{% block content %}

<h1>COLLECTIONS</h1>

<h2>Last activity (on any of owned collections?)</h2>

<p>Date/Time: User X, role, operation (save) on page ID X of document ID Y in collection ID Z</p>


<h2>Your activities:</h2>

<div class="container">
 <div class="row">
  <div class="form-inline">
	  <div class="form-group">
		  <label for="start_date">Start:</label>
		  <input type="text" id="start_date"/>
	  </div>
	  <div class="form-group">
		  <label for="end_date">End:</label>
		  <input type="text" id="end_date"/>
	  </div>
  </div>
 </div>
 <div class="row col-md-6">
  <div id="slider-range"></div>
 </div>
 <div class="row">
 <table class="table table-striped display" id="actions_table">
   <thead>
	<tr>
		<th>{% trans "Time" %}</th>
		<th class="select-filter">{% trans "Collection" %}</th>
		<th>{% trans "Document ID" %}</th>
		<th>{% trans "Page ID" %}</th>
		<th>{% trans "Username" %}</th>
		<th class="select-filter">{% trans "Operation" %}</th>
	</tr>
   </thead>
   <tfoot>
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
   </tfoot>
</table>
<!-- TODO use types from TSREST  -->
{% for at in action_types %}
	<button class="btn btn-default table_filter" id="filter_{{at.type}}" value="{{at.id}}">{{at.type}}</button>
{% endfor %}
<button class="btn btn-default table_filter" id="filter_clear" value="">X</button>
 </div>
</div>

<h2>My Collections</h2>
{% include "dashboard/collections_table.html" with collections=collections %}
<pre>
Graph here
</pre>

<button>Nbre of Jobs by type / ingesting</button>

{% endblock %}
