{% extends "dashboard/navi_base.html" %}
{% load i18n %}

{% block content %}

{% block nav_buttons_out %}
{% include "dashboard/nav_buttons.html"%}
{% endblock %}

<h1>COLLECTIONS</h1>

<h2>Last activity (on any of owned collections?)</h2>

<p>Date/Time: User X, role, operation (save) on page ID X of document ID Y in collection ID Z</p>


<div class="container">

 <h2>Your activities:</h2>

   {% include "dashboard/date_input.html" %}

</div>


<div class="panel">
 
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#a_table" aria-controls="a_table" role="tab" data-toggle="tab">My activities</a></li>
    <li role="presentation"><a href="#a_chart" aria-controls="a_chart" role="tab" data-toggle="tab">My activities chart</a></li>
    <li role="presentation"><a href="#top_coll" aria-controls="top_coll" role="tab" data-toggle="tab">My most active collections</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="a_table">
	   {% include "dashboard/actions_table.html" with action_types=action_types%}
    </div>
    <div role="tabpanel" class="tab-pane" id="a_chart">
	   <canvas id="actions_line" class="chart_canvas" width="400" height="200"></canvas>
    </div>
    <div role="tabpanel" class="tab-pane" id="top_coll">
	   <canvas id="top_collections" class="chart_canvas" width="400" height="200"></canvas>
    </div>
  </div>

  {% for at in action_types %}
	<button class="btn btn-default table_filter" id="filter_{{at.type}}" value="{{at.id}}">{{at.type}}</button>
  {% endfor %}
  <button class="btn btn-default table_filter" id="filter_clear" value="">X</button>

</div>

<div class="container">

<h2>My Collections</h2>

{% include "dashboard/collections_table.html" %}

</div>

<!--
<div class="container">
	<div class="row">
		<div class="col-md-12" id="actions_chart">
		<h3>Your overall activity</h3>
		<canvas id="actions_line" class="chart_canvas" width="400" height="200"></canvas>
		</div>
		<div class="col-md-8">
		<h3>User activity</h3>
		<canvas id="_bar" class="chart_canvas" width="400" height="200"></canvas>
		</div>
		<div class="col-md-4">
		<h3>Status</h3>
		<canvas id="status_pie" class="chart_canvas" width="200" height="200"></canvas>
		</div>
	</div>
</div>
<script>
var ctx = document.getElementById("status_pie");
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["New", "In progress", "Complete", "Published"],
        datasets: [{
            label: 'Status',
            data: [12, 19, 3, 5],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
	 title: {
		    display: true,
		    text: 'Document statuses'
		}
    }
});
</script>
-->
<!--<button>Nbre of Jobs by type / ingesting</button>-->

{% endblock %}
