{% load i18n %}

<p>The following <span id="users_table_count"></span> are members of this collection:</p>

 <table class="table table-striped display" id="users_table">
   <thead>
	<tr>
		<th>{% trans "UserId" %}</th>
		<th>{% trans "Username" %}</th>
		<th>{% trans "Given Name" %}</th>
		<th>{% trans "Family Name" %}</th>
		<th>{% trans "Email" %}</th>
		<th>{% trans "Affiliation" %}</th>
		<th>{% trans "Created" %}</th>
		<th>{% trans "Role" %}</th>
	</tr>
   </thead>
   <tbody>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
   </tbody>
</table>
