{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>READ Web UI</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ "bootstrap_css"|load_lib }}" rel="stylesheet"/>
    <!-- FancyTree CSS -->
<!--    <link href="{% static "css/ui.fancytree.css" %}" rel="stylesheet"/> -->
    <!-- Sidebar CSS -->
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet"/>
    <!-- Flag CSS -->
    <link href="{% static "css/flag-icon.css" %}" rel="stylesheet"/>
    <!-- Local CSS -->
    <link href="{% static "css/read.css" %}" rel="stylesheet"/>
    <!-- Carousel CSS (needed?) -->
    <link href="{% static "css/carousel.css" %}" rel="stylesheet"/>

    <link href="{{ "datatables_css"|load_lib  }}" rel="stylesheet"/>
    <link href="{{ "jquery_ui_css"|load_lib  }}" rel="stylesheet"/>
    <!-- recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- jQuery -->
    <script src="{{ "jquery"|load_lib }}"></script>
    <script src="{{ "jquery_ui"|load_lib }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Fancytree -->
    <script src="{% static "js/jquery.fancytree-all.min.js" %}"></script>
    <!-- Data tables -->
    <script src="{{ "datatables_js"|load_lib }}"></script>
    <!-- Chart.js -->
    <script src="{{ "chart_js"|load_lib }}"></script>
    <!-- Local JS -->
    <script src="{% static "js/read.js" %}"></script>
	<!--- Only needed when logged in -->
	{% if user.is_authenticated %}
	    <script>
	    	var changed_jobs_modal = "{% url 'changed_jobs_modal' %}";
	    	var jobs_list_compact = "{% url 'jobs_list_compact' %}";
	    	var job_count_url = "{% url 'job_count' %}";
    	</script>
 	<!-- //TODO stop this filling up the console.... -->
    	<!-- <script src="{% static "js/jobs.js" %}"></script> -->
	{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

    {% block body_content %}{% endblock %}

</html>
