{% extends "base.html" %}

{% load staticfiles %}

{% block body_content %}

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="http://read.transkribus.eu/">
                        <img src="{% static "images/read.png" %}" />
                    </a>
                </li>
         	<li class="sidebar-brand">
                    <a href="{% url 'index' %}">
			<h4>{% trans "Transkribus Library" %}</h4>
		    </a>
		</li>
		{% if user.is_authenticated %}
                <li>
                    <a href="{% url 'collections' %}">{% trans "Collections" %}</a>
                </li>
                <li>
                    <a href="{% url 'search' %}">{% trans "Search" %}</a>
                </li>
                <li>
		    <a href="{% url 'profile' %}">{% trans "Profile" %}</a>
                </li>
                <li>
		    <a href="{% url 'logout' %}?next={{request.path}}">{% trans "Logout" %}</a>
                </li>
		{% else %}
                <li>
		    <a href="{% url 'login' %}?next={{request.path}}">{% trans "Login" %}</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">{% trans "Register" %}</a>
                </li>
		{% endif %}
                <li>
                    <a href="{% url 'about' %}">{% trans "About" %}</a>
                </li>
                <li>
                    <a href="{% url 'user_guide' %}">{% trans "User Guide" %}</a>
                </li>
            </ul>
		<div class="read_nav read_nav_in pull-right">
	            <ul>
			<li><a href="#menu-toggle" id="menu-toggle-in" class="menu-toggle btn btn-inverse btn-xs pull-right"><span class="glyphicon glyphicon-chevron-left"><span></a></li>
		    	{% block nav_buttons_in %}{% endblock %}
		</div>

        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
	<div>

        <div id="page-content-wrapper" class="full_page_image">
	   <div class="read_nav read_nav_out pull-left">
		   <ul>
		      <li><a href="#menu-toggle" id="menu-toggle-out" class="menu-toggle btn btn-default btn-xs pull-left"><span class="glyphicon glyphicon-chevron-right"><span></a></li>
		    	{% block nav_buttons_out %}{% endblock %}
		   </ul>
	    </div>

            <div style="border: 1px solid red">
		    {% block content %}{% endblock %}
            </div>
        </div>
	</div>
        <!-- /#page-content-wrapper -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>{% trans "READ - A horizon 2020 e-infrastructure project" %}</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    var sidebar_state = localStorage.getItem("sidebar_state");
    if(sidebar_state === "in"){
        $("#wrapper").toggleClass("toggled");
//	$("#menu-toggle-out").show();
	$(".read_nav_out").show();
	$(".read_nav_in").hide();
    }else{
	$(".read_nav_in").show();
	$(".read_nav_out").hide();
   }

$(document).ready(function(){

});
    </script>
</body>

{% endblock body_content %}
